{% extends "MainApp/base.html" %}
{% block title %}DControl - Все заказы{% endblock %}
{% block content %}
{% load static %}
<div class="container">
  <h1>DControl - Все заказы</h1>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">НАИМЕНОВНИЕ</th>
        <th scope="col">СОЗДАНА</th>
        <th scope="col">АВТОР</th>
        <th scope="col">ПРОЕКТ</th>
        <th scope="col">ПРИБЛИЗИТЕЛЬНЫЙ СРОК ГОТОВНОСТИ</th>
      </tr>
    </thead>
    <tbody>
      {% for order in all_orders %}
      {% if order %}
        <tr>
          <th scope="row">{{order.id}}</th>
          <td><a href="{% url 'order_view' url=order.pk %}">{{order.title}}</a></td>
          <td>{{order.author}}</td>
          <td>{{order.create}}</td>
          <td>{{order.project}}</td>
          <td>{{order.readiness}}</td>
        </tr>
      {% endif %}
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}