{% extends "MainApp/base.html" %}
{% block title %}DControl - Главная страница/Поиск{% endblock %}
{% block content %}
{% load static %}
{% load crispy_forms_tags %}

<style>
    * { box-sizing: border-box; }
    body {
      font: 16px Arial;
    }
    .autocomplete {
      /*the container must be positioned relative:*/
      position: relative;
      display: inline-block;
    }
    input {
      border: 1px solid transparent;
      background-color: #f1f1f1;
      padding: 10px;
      font-size: 16px;
    }
    input[type=text] {
      background-color: #f1f1f1;
      width: 100%;
    }
    input[type=submit] {
      background-color: DodgerBlue;
      color: #fff;
    }
    .autocomplete-items {
      position: absolute;
      border: 1px solid #d4d4d4;
      border-bottom: none;
      border-top: none;
      z-index: 99;
      /*position the autocomplete items to be the same width as the container:*/
      top: 100%;
      left: 0;
      right: 0;
    }
    .autocomplete-items div {
      padding: 10px;
      cursor: pointer;
      background-color: #fff;
      border-bottom: 1px solid #d4d4d4;
    }
    .autocomplete-items div:hover {
      /*when hovering an item:*/
      background-color: #e9e9e9;
    }
    .autocomplete-active {
      /*when navigating through the items using the arrow keys:*/
      background-color: DodgerBlue !important;
      color: #ffffff;
    }
</style>


<div class="container mt-4">
    {% if messages %}
    <ul class="messages mt-3">
        {% for message in messages %}
            <li class="list-group-item list-group-item-danger">{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4">Bonjour!</h1>
        <p class="lead">Добро пожаловать на сайт DControl.</p>
      </div>
        <hr>



        <form autocomplete="off" method="get" ">
          <div class="autocomplete" style="width:300px;">
            <input id="myInput" type="text" id="{{form.my_request}}
          </div>
          <button class="btn btn-primary my-2 my-sm-0" type="submit">ПОИСК</button>
          <a href="{% url 'HomePage' %}" class="btn btn-secondary active ml-3" role="button" aria-pressed="true">Cancel</a>
        </form>


    </div>
    {% if text|length > 2 %}
        <ul class="list-group">
            <li class="list-group-item list-group-item-danger">{{text}}</li>
        </ul>
    {% endif %}
    {% if all_pos %}
    <table class="table table-bordered">
      <thead class="thead-light">
        <tr>
          <th scope="col">#</th>
          <th scope="col">ПОЗИЦИЯ</th>
          <th scope="col">ЗАКАЗ</th>
          <th scope="col">ПРОЕКТ</th>
          <th scope="col">АВТОР</th>
          <th scope="col">СОЗДАН</th>
          <th scope="col">МЕСТО ХРАНЕНИЯ</th>
        </tr>
      </thead>
      <tbody>
      {% for position in all_pos %}
        <tr>
          <th scope="row">{{position.pk}}</th>
          <td class="clickable-row" data-href="{% url 'position_view' code=position.code %}">{{position.detail.title}}</td>
          <td class="clickable-row" data-href="{% url 'order_view' url=position.order.pk %}">{{position.order.title}}</td>
          <td>{{position.order.project}}</td>
          <td>{{position.order.author}}</td>
          <td>{{position.order.create}}</td>
          <td>{{position.stockage_code}}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
    {% endif %}
</div>
<script>
    jQuery(document).ready(function($) {
        $(".clickable-row").click(function() {
            window.location = $(this).data("href");
        });
    });
</script>
<script>
    var countries = {{detail_list|safe}};
</script>
<script>
    function autocomplete(inp, arr) {
      /*the autocomplete function takes two arguments,
      the text field element and an array of possible autocompleted values:*/
      var currentFocus;
      /*execute a function when someone writes in the text field:*/
      inp.addEventListener("input", function(e) {
          var a, b, i, val = this.value;
          /*close any already open lists of autocompleted values*/
          closeAllLists();
          if (!val) { return false;}
          currentFocus = -1;
          /*create a DIV element that will contain the items (values):*/
          a = document.createElement("DIV");
          a.setAttribute("id", this.id + "autocomplete-list");
          a.setAttribute("class", "autocomplete-items");
          /*append the DIV element as a child of the autocomplete container:*/
          this.parentNode.appendChild(a);
          /*for each item in the array...*/
          for (i = 0; i < arr.length; i++) {
            /*check if the item starts with the same letters as the text field value:*/
            if (arr[i].substr(0, val.length).toUpperCase() == val.toUpperCase()) {
              /*create a DIV element for each matching element:*/
              b = document.createElement("DIV");
              /*make the matching letters bold:*/
              b.innerHTML = "<strong>" + arr[i].substr(0, val.length) + "</strong>";
              b.innerHTML += arr[i].substr(val.length);
              /*insert a input field that will hold the current array item's value:*/
              b.innerHTML += "<input type='hidden' value='" + arr[i] + "'>";
              /*execute a function when someone clicks on the item value (DIV element):*/
                  b.addEventListener("click", function(e) {
                  /*insert the value for the autocomplete text field:*/
                  inp.value = this.getElementsByTagName("input")[0].value;
                  /*close the list of autocompleted values,
                  (or any other open lists of autocompleted values:*/
                  closeAllLists();
              });
              a.appendChild(b);
            }
          }
      });
      /*execute a function presses a key on the keyboard:*/
      inp.addEventListener("keydown", function(e) {
          var x = document.getElementById(this.id + "autocomplete-list");
          if (x) x = x.getElementsByTagName("div");
          if (e.keyCode == 40) {
            /*If the arrow DOWN key is pressed,
            increase the currentFocus variable:*/
            currentFocus++;
            /*and and make the current item more visible:*/
            addActive(x);
          } else if (e.keyCode == 38) { //up
            /*If the arrow UP key is pressed,
            decrease the currentFocus variable:*/
            currentFocus--;
            /*and and make the current item more visible:*/
            addActive(x);
          } else if (e.keyCode == 13) {
            /*If the ENTER key is pressed, prevent the form from being submitted,*/
            e.preventDefault();
            if (currentFocus > -1) {
              /*and simulate a click on the "active" item:*/
              if (x) x[currentFocus].click();
            }
          }
      });
      function addActive(x) {
        /*a function to classify an item as "active":*/
        if (!x) return false;
        /*start by removing the "active" class on all items:*/
        removeActive(x);
        if (currentFocus >= x.length) currentFocus = 0;
        if (currentFocus < 0) currentFocus = (x.length - 1);
        /*add class "autocomplete-active":*/
        x[currentFocus].classList.add("autocomplete-active");
      }
      function removeActive(x) {
        /*a function to remove the "active" class from all autocomplete items:*/
        for (var i = 0; i < x.length; i++) {
          x[i].classList.remove("autocomplete-active");
        }
      }
      function closeAllLists(elmnt) {
        /*close all autocomplete lists in the document,
        except the one passed as an argument:*/
        var x = document.getElementsByClassName("autocomplete-items");
        for (var i = 0; i < x.length; i++) {
          if (elmnt != x[i] && elmnt != inp) {
          x[i].parentNode.removeChild(x[i]);
        }
      }
    }
    /*execute a function when someone clicks in the document:*/
    document.addEventListener("click", function (e) {
        closeAllLists(e.target);
    });
    }
</script>

<script>
    autocomplete(document.getElementById("myInput"), countries);
</script>



{% endblock %}