{% extends "MainApp/base.html" %}
{% block title %}DControl - Операция {{operation.manufactured}}{% endblock %}
{% block content %}
{% load static %}
{% load crispy_forms_tags %}
<div class="container">
    {% if messages %}
    <ul class="messages mt-3">
        {% for message in messages %}
            <li class="list-group-item list-group-item-danger">{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <a type="button" href="{% url 'position_view' code=operation.position.code %}" class="btn btn-secondary btn-lg btn-block mt-3"><<<НАЗАД К ДЕТАЛИ</a>
    <section class="jumbotron  mt-3">
        <div class="container">
            <div class="text-center">
                <h1 class="jumbotron-heading">DControl - Операция {{operation.manufactured}}</h1>
                <h3 class="jumbotron-heading">Для детали - {{ operation.position.detail.title }}</h3>
                <hr>
            </div>
            <div class="d-flex justify-content-between">
                <div class="col-5">
                    <p class="lead text-muted">Деталей необходимо - {{operation.position.quantity}}</p>
                    <p class="lead text-muted">Деталей изготовленно - {{difference}}</p>
                    <p class="lead text-muted">Деталей осталось - {{operation.remaining_parts}}</p>
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{form|crispy}}
                        <button class="btn-success col btn-lg" type="submit">СОЗДАТЬ</button>
                    </form>
                </div>
                <div class="col-7">
                    <ul class="list-group list-group-horizontal" align="center">
                        <li class="list-group-item col-4">ЗАКАЗ</li>
                        <a href="{% url 'order_view' url=operation.position.order.pk %}" class="list-group-item  list-group-item-success list-group-item-action col-8"><h6>{{operation.position.order.title}}</h6></a>
                    </ul>
                    <ul class="list-group list-group-horizontal mt-2" align="center">
                        <li class="list-group-item col-4">ПРОЕКТ</li>
                        <a href="#" class="list-group-item list-group-item-action list-group-item-success col-8"><h6>{{operation.position.order.project.title}}</h6></a>
                    </ul>
                    <ul class="list-group list-group-horizontal mt-2" align="center">
                        <li class="list-group-item col-4">ДЕТАЛЬ</li>
                        <a href="{% url 'position_view' code=operation.position.code %}" class="list-group-item list-group-item-action list-group-item-success col-8"><h6>{{operation.position.detail.title}}</h6></a>
                    </ul>
                    <a href="{% url 'operation_delete' pk=operation.pk %}" class="btn btn-outline-danger col mt-3">DELETE OPERATION</a>
                </div>
            </div>

        </div>
    </section>


    <hr>
    <table class="table" >
        <thead class="thead-dark" style="font-size: 1em;">
            <tr align="center">
                <th scope="col">Автор</th>
                <th scope="col">Дата создания</th>
                <th scope="col">Количество</th>
            </tr>
        </thead>
        <tbody>
            {% for transaction in transactions %}
                <tr align="center" style="font-size: 1.5em;">
                    <th scope="col">{{transaction.author}}</th>
                    <td class="col">{{transaction.create}}</td>
                    <td class="col"><h3 style="color: red;">{{transaction.ready_quantity}}</h3></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

</div>

{% endblock %}