{% extends "MainApp/base.html" %}
{% block title %}DControl - Позиция № {{position.pk}}{% endblock %}
{% block content %}
{% load static %}
<div class="container mb-5">
    <section class="jumbotron text-center mt-3">
        <div class="container">
          <h1 class="jumbotron-heading">DControl - Позиция № {{position.pk}}</h1>
          <p class="lead text-muted"></p>
        </div>
    </section>
    <div class="card mb-3">
      <img src="{{position.detail.draw_png.url}}" class="card-img-top" alt="...">
      <div class="card-body" align="center">
          <ul class="list-group list-group-horizontal">
            <li class="list-group-item col">
                <h5 class="card-title">{{detail.title}} - {{position.quantity}} штуки.</h5>
                <p class="card-text">Заготовка - {{detail.material}} {{detail.assortment}} {{detail.thickness_diameter}} мм.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </li>
                <li class="list-group-item col">
                    <img src="{{position.qr_code.url}}" width="200">
                </li>
            </ul>

      </div>
    </div>
    <ul class="list-group list-group-horizontal ">
      <li class="list-group-item col">Название заказа</li>
      <li class="list-group-item list-group-item-info col">{{order.title}}</li>
      <li class="list-group-item col">Автор заказа</li>
      <li class="list-group-item list-group-item-info col ">{{order.author}}</li>
    </ul>
    <ul class="list-group list-group-horizontal mt-1">
      <li class="list-group-item col">Проект</li>
      <li class="list-group-item list-group-item-info col">{{order.project.title}}</li>
      <li class="list-group-item col">Дата готовности</li>
      <li class="list-group-item list-group-item-info col">{{order.readiness}}</li>
    </ul>
    <ul class="list-group list-group-horizontal mt-4">
        {% for operation in operations %}
        <a href="#" class="list-group-item list-group-item-action list-group-item-primary d-flex justify-content-between align-items-center col">
            {{operation.manufactured.title}}
           <span class="badge badge-dark">{{operation.remaining_parts}}</span>
        </a>
        {% endfor %}
    </ul>
</div>
{% endblock %}