{% extends "MainApp/base.html" %}
{% block title %}DControl - Позиция № {{position.pk}}{% endblock %}
{% block content %}
{% load static %}
<div class="container mb-5">
    <section class="jumbotron  mt-3">
        <div class="container">
            <div class="text-center">
                <h1 class="jumbotron-heading">DControl - Позиция № {{position.pk}}</h1>
                <hr>
            </div>

            <div class="d-flex justify-content-between">
                <div>
                    <h5 class="card-title">{{detail.title}} - {{position.quantity}} штуки.</h5>
                    <p class="card-text">Заготовка - {{detail.material}} {{detail.assortment}} {{detail.thickness_diameter}} мм.</p>
                    <hr>
                    <p class="lead text-muted">Название заказа - {{order.title}}</p>
                    <p class="lead text-muted">Автор заказа - {{order.author}}</p>
                    <p class="lead text-muted">Проект - {{order.project.title}}</p>
                    <p class="lead text-muted">Дата готовности - {{order.readiness}}</p>
                </div>
                <div>
                    <img src="{{position.qr_code.url}}" width="250">
                </div>
            </div>

        </div>
    </section>
    <ul class="list-group list-group-horizontal mt-4">
        {% for operation in operations %}
            <a href="{% url 'operation_view' url=position.pk %}" class="list-group-item list-group-item-action list-group-item-primary d-flex justify-content-between align-items-center col mb-4">
                {{operation.manufactured.title}}
               <span class="badge badge-dark">{{operation.remaining_parts}}</span>
            </a>
        {% endfor %}
    </ul>
    <div class="card mb-3">
      <img src="{{position.detail.draw_png.url}}" class="card-img-top" alt="...">
    </div>

</div>
{% endblock %}